In [1]:
# Dictionaries can be instantiated using braces.
zoo = {
    'pen_1': 'penguins',
    'pen_2': 'zebras',
    'pen_3': 'lions',
    }

zoo['pen_2']

'zebras'

In [2]:
#type 2
zoo = dict(
    pen_1='monkeys',
    pen_2='zebras',
    pen_3='lions',
    )

zoo['pen_2']

'zebras'

In [3]:
#type 3
zoo = dict(
    [
     ['pen_1', 'monkeys'],
     ['pen_2', 'zebras'],
     ['pen_3', 'lions'],
    ]
)

zoo['pen_2']

'zebras'

In [4]:
#Adding a new key-value pair to a dictionary
zoo['pen_4'] = 'crocodiles'
zoo

{'pen_1': 'monkeys',
 'pen_2': 'zebras',
 'pen_3': 'lions',
 'pen_4': 'crocodiles'}

# Dictionaries are unordered and do not support numerical indexing.

In [5]:
# Use the `in` keyword to produce a Boolean of whether a given key exists in a dictionary.
print('pen_1' in zoo)
print('pen_7' in zoo)

True
False

In [7]:
''' Create a list of tuples, each representing the name,
age, and position of a player on a basketball team.'''

team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ('Sandra', 19, 'center'),
    ('Mari', 18, 'point guard'),
    ('Esme', 18, 'shooting guard'),
    ('Lin', 18, 'power forward'),
    ('Sol', 19, 'small forward'),
    ]

In [8]:
# Instantiate an empty dictionary.
new_team = {}

# Loop over the tuples in the list of players and unpack their values.
for name, age, position in team:
    if position in new_team:                    # If position already a key in new_team,
        new_team[position].append((name, age))  # append (name, age) tup to list at that value.
    else:
        new_team[position] = [(name, age)]      # If position not a key in new_team,
                                                # create a new key whose value is a list
                                                # containing (name, age) tup.
new_team

{'center': [('Marta', 20), ('Sandra', 19)],
 'point guard': [('Ana', 22), ('Mari', 18)],
 'shooting guard': [('Gabi', 22), ('Esme', 18)],
 'power forward': [('Luz', 21), ('Lin', 18)],
 'small forward': [('Lorena', 19), ('Sol', 19)]}

In [9]:
# Examine the value at the 'point guard' key.
new_team['point guard']

[('Ana', 22), ('Mari', 18)]

In [10]:
for x in new_team:
    print(x)

center
point guard
shooting guard
power forward
small forward

In [15]:
# The keys() method returns the keys of a dictionary.
new_team.keys()

dict_keys(['center', 'point guard', 'shooting guard', 'power forward', 'small forward'])

In [16]:
# The values() method returns all the values in a dictionary.
new_team.values()

dict_values([[('Marta', 20), ('Sandra', 19)], [('Ana', 22), ('Mari', 18)], [('Gabi', 22), ('Esme', 18)], [('Luz', 21), ('Lin', 18)], [('Lorena', 19), ('Sol', 19)]])

In [17]:
#Both of them
for a, b in new_team.items():
    print(a, b)

center [('Marta', 20), ('Sandra', 19)]
point guard [('Ana', 22), ('Mari', 18)]
shooting guard [('Gabi', 22), ('Esme', 18)]
power forward [('Luz', 21), ('Lin', 18)]
small forward [('Lorena', 19), ('Sol', 19)]

Sets

In [18]:
# The set() function converts a list to a set.
x = set(['foo', 'bar', 'baz', 'foo'])
print(x)

{'foo', 'baz', 'bar'}

In [19]:
# The set() function converts a tuple to a set.
x = set(('foo','bar','baz', 'foo'))
print(x)

{'foo', 'baz', 'bar'}

In [20]:
# The set() function converts a string to a set.
x = set('foo')
print(x)

{'f', 'o'}

In [22]:
# You can use braces to instantiate a set
x = {'foo'}
print(type(x))

# But empty braces are reserved for dictionaries.
y = {}
print(type(y))

<class 'set'>
<class 'dict'>

In [23]:
# Instantiating a set with braces treats the contents as literals.
x = {'foo'}
print(x)

{'foo'}

In [25]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.intersection(set2)) #merge
print(set1 & set2) #merge

{4, 5, 6}
{4, 5, 6}

In [26]:
x1 = {'foo', 'bar', 'baz'} #union
x2 = {'baz', 'qux', 'quux'} #union
print(x1.union(x2))
print(x1 | x2)

{'quux', 'bar', 'foo', 'qux', 'baz'}
{'quux', 'bar', 'foo', 'qux', 'baz'}

In [28]:
set1 = {1, 2, 3, 4, 5, 6} #difference
set2 = {4, 5, 6, 7, 8, 9} #difference
print(set1.difference(set2))
print(set1 - set2)

{1, 2, 3}
{1, 2, 3}

In [30]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set2.symmetric_difference(set1) #except merged part
set2 ^ set1

{1, 2, 3, 7, 8, 9}